body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}
/* HEADER */
header {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  display: inline;
  height: 50px;
  margin: 10px;
}
.nav {
  display: inline;
}
.nav a {
  color: seashell;
  padding: 0 20px;
}
.main {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* MISSION */
#mission {
  background-image: url("./images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission-bar {
  background-color: black;
  width: 100%;
  margin: 4px 0;
}
/* TEA OF THE MONTH */
#featured-tea {
  width: 1000px;
}
.tea-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.tea {
  padding: 0px 20px;
}
.tea-gallery img {
  height: 200px;
  width: 300px;
  display: inline-flex;
}

/* LOCATIONS */
#locations {
  background-image: url("./images/img-locations-background.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-content: center;
  display: block;
  padding-top: 20px;
}
.box {
  background-color: black;
  width: 300px;
  height: auto;
  margin: 0 40px;
  opacity: 1;
  display: inline-block;
}

/* FOOTER */
footer {
  height: 200px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
}
